<title>วิชาที่สอน</title>

<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Newsreader:wght@200;400&family=Prompt:wght@300;400&display=swap" rel="stylesheet">

<body>
    <header class="Top_Header">

        <div class="Logo">
            <img src="https://elizajann.files.wordpress.com/2014/12/img_2134.png">
        </div>
        <div class="Bot">
            <div class="Top_Title">
                <h1><b>ระบบสารสนเทศ</b></h1><span>เพื่องานลงทะเบียนนักศึกษา</span>

            </div>
            <div class="Under_Title">HUWW REGISRATION INFORMATION SYSTEM</div>
        </div>


    </header>
    <div class="Content">
        <h3 style="font-size: 17px; text-align: center;">ผู้ใช้ : {{teach.Teach_name}} </h3>
        <nav class="Nav_Button">
            <a routerLink="/TeacherClass">ตารางสอน</a>&nbsp; &nbsp;
            <a routerLink="/Subject">วิชาเปิดสอน</a>&nbsp; &nbsp;
            <!-- <a routerLink="/RegisResult">ผลลงทะเบียน</a>&nbsp; &nbsp; -->
            <a routerLink="/Teacher">ออกจากระบบ</a>
        </nav>
        <section class="Content_Space" style="text-align: center;">
            <div id="Content_Title"> ตารางสอน</div>
            <div class="dropdown">
                <button class="dropbtn"> 1/2564 </button>
                <div class="dropdown-content">
                    <a href="#"> 2/2564 </a>
                    <a href="#"> 1/2565 </a>
                    <a href="#"> 2/2565 </a>
                </div>
            </div>

            <div class="Table">
                <table>
                    <thead>

                        <th>รหัสวิชา</th>
                        <th>ตอน</th>
                        <th>รายวิชา</th>
                        <th>วัน-เวลาเรียน</th>
                        <th>รายชื่อนักศึกษา</th>
                    </thead>
                    <tr>
                        <td data-labe="รหัสวิชา">202035</td>
                        <td data-labe="ตอน">1</td>
                        <td data-labe="รายวิชา">ป้องกันตัวจากศาสตร์มืด</td>
                        <td data-labe="วัน-เวลาเรียน">mon 9.00-12.00</td>
                        <td data-labe="รายชื่อนักศึกษา"><a routerLink="/StudentInclass">ดูรายชื่อนักศึกษา</a></td>
                    </tr>
                </table>
            </div>




        </section>
    </div>
</body>
