/*buttom*/

#Login_Button {
    background: linear-gradient(to bottom, #b2d8e8 5%, #7ca1d5 100%);
    background-color: #2b38f1;
    border-radius: 15px;
    border: 1px solid #2a48de;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 15px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7c9ade;
}

#Login_Button:hover {
    background: linear-gradient(to bottom, #bcf0f3 5%, #7ff5f7 100%);
    background-color: #70e1fd;
    color: rgb(60, 101, 235);
}

#Login_Button:active {
    position: relative;
    top: 1px;
}

.Content1 a {
    font-family: 'Harry Potter', sans-serif;
}


/*login*/

body {
    padding: 0;
    margin: 0;
    background-image: url(../../../img/bg13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.Content {
    margin: auto;
    padding: 100px 20px;
    text-align: center;
}

.Content1>a {
    color: seashell;
    font-size: 45px;
    filter: opacity(70%);
    text-decoration: none;
}

.Login_Space {
    background-color: rgb(238, 244, 255);
    filter: opacity(100%);
    margin: 60px auto;
    width: 40%;
    border-radius: 20px;
    padding: 2% 0px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.Login_Space .Form_Title {
    color: rgb(45, 72, 160);
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

#Login_Form {
    margin: 3% auto;
}

.login__field {
    padding: 20px 0px;
    position: relative;
}

.glyphicon {
    position: absolute;
    top: 30px;
    color: #4f556b;
}

.login__input {
    border: none;
    border-bottom: 2px solid #d4d3d1;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 40%;
    transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #677a9e;
}

@media(max-width:600px) {
    .Content a {
        display: none;
    }
    .Content {
        padding: 28% 0px;
    }
    .Login_Space {
        padding: 10% 10%;
    }
}
