#nav>ul>li {
    width: 50%;
    height: 100%;
    float: left;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
    overflow: hidden;
}

li a {
    display: block;
    color: rgb(30, 26, 26);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .a1:hover {
    background-color: rgb(233, 186, 145);
}

li .a2:hover {
    background-color: rgb(112, 175, 212);
}

li .a1:active {
    background-color: rgb(187, 100, 237);
}

li .a2:active {
    background-color: rgb(45, 171, 34);
}
