<title>Drop</title>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Newsreader:wght@200;400&family=Prompt:wght@300;400&display=swap" rel="stylesheet">

<body>
    <header class="Top_Header">

        <div class="Logo">
            <img src="https://elizajann.files.wordpress.com/2014/12/img_2134.png">
        </div>
        <div class="Bot">
            <div class="Top_Title">
                <h1><b>ระบบสารสนเทศ</b></h1><span>เพื่องานลงทะเบียนนักศึกษา</span>

            </div>
            <div class="Under_Title">KMUTNB REGISRATION INFORMATION SYSTEM</div>
        </div>


    </header>
    <div class="Content">
        <h3 style="font-size: 17px; text-align: center;">ผู้ใช้ : {{ stdlg.std_name }}
        </h3>
        <nav class="Nav_Button">

            <a routerLink="/AddCourse">ลงวิชาเรียน</a>&nbsp; &nbsp;
            <a routerLink="/UnsetCourse">ถอนวิชาเรียน</a>&nbsp; &nbsp;
            <a routerLink="/RegisResult">ผลลงทะเบียน</a>&nbsp; &nbsp;
            <a routerLink="/StudentData">ข้อมูลนักศึกษา</a>&nbsp; &nbsp;
            <a routerLink="/Student">ออกจากระบบ</a>

        </nav>
        <form>
            <section class="Content_Space">
                <div id="Content_Title">ถอนวิชาเรียน</div>
                <div class="Table">
                    <table>
                        <thead>
                            <th>รหัสวิชา</th>
                            <th>ตอน</th>
                            <th>รายวิชา</th>
                            <th>หน่วยกิต</th>
                            <th>วัน-เวลาเรียน</th>
                            <th>ปี -- เทอม</th>
                            <th> </th>
                        </thead>

                        <tr *ngFor="let f of table">
                            <td data-labe="รหัสวิชา">{{f.course_id}}</td>
                            <td data-labe="ตอน">{{f.class_name}}</td>
                            <td data-labe="รายวิชา">{{f.course_name}}</td>
                            <td data-labe="หน่วยกิต">{{f.credit}}</td>
                            <td data-labe="วัน-เวลาเรียน">{{f.day}} - {{f.starttime}} - {{f.endtime}}</td>
                            <td data-labe="ปี -- เทอม">{{f.year}} -- {{f.term}}</td>
                            <td><button type="button" class="button1 button3" (click)="deleterg(f.rg_id)"> DELETE </button></td>
                        </tr>

                    </table>
                </div>
            </section>
        </form>
    </div>
</body>